<div class="fluid-container" style="background-image:url(http://getwallpapers.com/wallpaper/full/c/3/1/193891.jpg); background-repeat: no-repeat; width:100%; height:auto; background-attachment: fixed;  padding-bottom:100px">
    <div class="container" style="border:2px solid #cecece; width:200px; background-color: grey; font-family:Arial, Helvetica, sans-serif;  position:fixed">
        <a href="/" style="text-decoration:none; color:white"><p style="text-align:center">Return to homepage</p></a>
    </div>
<div class="container" style="padding:50px"></div>
<h1 style="text-align:center; font-size:100px; background-color:rgba(80, 72, 72, 0.6); color: whitesmoke; width:800px; margin: 0 auto;">
<a>{{f}}</a>
</h1>
<h2 style="text-align:center; font-size:30px; background-color:rgba(80, 72, 72, 0.6); color: whitesmoke; width:800px; margin: 0 auto; padding-bottom:20px">
<i>Genus: {{genus}} <br>
Species: {{species}}<br>
</i>
</h2>
<br><br>

    {% for s in sightings %}
    <div class="container" style="font-size: 20px; padding:5px; width:700px; margin: 0 auto; font-family:Arial, Helvetica, sans-serif; color: whitesmoke; background-color:rgba(80, 72, 72, 0.6); text-align:center">
    <i>Sighted by {{s[1][1]}} on {{s[1][3]}} at {{s[1][2]}}</i>
    </div>
    {% endfor %}
<div class="container" style="padding:20px"></div>
    <h1 style="text-align:center; font-size:50px; background-color:rgba(80, 72, 72, 0.6); color: whitesmoke; width:400px; margin: 0 auto;">
        <a>Update Flower</a>
        </h1>
<form method='POST' style="font-size: 20px; padding:5px; width: 400px; margin: 0 auto; font-family:Arial, Helvetica, sans-serif; color: whitesmoke; background-color:rgba(80, 72, 72, 0.6); text-align:center; padding-top: 20px">
    Genus:<br>
    <input type="text" name="genus"><br>
    Species:<br>
    <input type="text" name="species"><br><br>
    <input type="submit" name="update" value="Submit">
</form>
<br>
<h1 style="text-align:center; font-size:50px; background-color:rgba(80, 72, 72, 0.6); color: whitesmoke; width:400px; margin: 0 auto;">
<a>Add Sighting</a>
</h1>
<form method='POST' style="font-size: 20px; padding:5px; width: 400px; margin: 0 auto; font-family:Arial, Helvetica, sans-serif; color: whitesmoke; background-color:rgba(80, 72, 72, 0.6); text-align:center; padding-top: 20px">
    <input type="hidden" name="flower" value="insert">
    Person:<br>
    <input type="text" name="person"><br>
    Location:<br>
    <input type="text" name="location"><br>
    Date:<br>
    <input type="date" name="sighted"><br><br>
    <input type="submit" name="insert" value="Submit">
</form>
</div>