<a>{{f}}</a>
<br><br>
Genus: {{genus}}<br>
Species: {{species}}<br>
<ul>
    {% for s in sightings %}
    <li>Sighted by {{s[1][1]}} on {{s[1][3]}} at {{s[1][2]}}</li>
    {% endfor %}
</ul>
<a>Update Flower</a>
<form method='POST'>
    Genus:<br>
    <input type="text" name="genus"><br>
    Species:<br>
    <input type="text" name="species"><br><br>
    <input type="submit" name="update" value="Submit">
</form>
<br>
<a>Add Sighting</a>
<form method='POST'>
    <input type="hidden" name="flower" value="insert">
    Person:<br>
    <input type="text" name="person"><br>
    Location:<br>
    <input type="text" name="location"><br>
    Date:<br>
    <input type="date" name="sighted"><br><br>
    <input type="submit" name="insert" value="Submit">
</form>
